<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="urlRouting" type="BlinkingBits.RoutedForms.Configuration.UrlRoutingSection"/>
	</configSections>
	
  <system.web>
		<compilation debug="true" targetFramework="4.0"/>

    <httpModules>
			<add name="RoutedForms" type="BlinkingBits.RoutedForms.Module"/>
		</httpModules>
  </system.web>
	
  <system.webServer>
		<modules>
			<add name="RoutedForms" type="BlinkingBits.RoutedForms.Module"/>
		</modules>
	</system.webServer>

  <urlRouting ignoreExistingFiles="false" appendSlash="true">
    <add pattern="~/Styles/*" ignore="true" />

    <add pattern="~/{method}/" url="~/default.aspx" method="Render${method}" />
    <add pattern="~/default.aspx" url="~/default.aspx" />

    <add pattern="*" url="~/404.html"/>
	</urlRouting>
</configuration>
